language: cpp

jobs:
  include:
    # GCC
    - os: linux
      dist: bionic
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-9
            - lcov
            - cmake
      env:
        - MATRIX_EVAL="CC=gcc-9 && CXX=g++-9"
      script:
        - gcc -v && g++ -v && cmake --version
        - cmake --version
        - cmake -DZBINARYREADER_CODE_COVERAGE=ON CMakeLists.txt
        - cmake  --build . --target
        - ctest -VV

    # # CLANG
    # - os: linux
    #   dist: bionic
    #   addons:
    #     apt:
    #       sources:
    #         - ubuntu-toolchain-r-test
    #       packages:
    #         - clang-9
    #         - cmake
    #   env:
    #     - MATRIX_EVAL="CC=clang-9 && CXX=clang++-9"
    #   script:
    #     - cmake --version
    #     - cmake CMakeLists.txt
    #     - cmake  --build . --target
    #     - ctest

    
before_install:
  - eval "${MATRIX_EVAL}"

after_success:
  - cd ${TRAVIS_BUILD_DIR}
  - lcov --directory . --capture --output-file coverage.info coverage info
  - lcov --remove coverage.info '/usr/*' --output-file coverage.info 
  - lcov --list coverage.info
  # Uploading report to CodeCov
  - bash <(curl -s https://codecov.io/bash) || echo "Codecov did not collect coverage reports"

